    body {
      background-color: #0d0b1b;
      font-family: 'Montserrat', sans-serif;
      background-size: contain;
      background-repeat: no-repeat;
    }

    section {
      padding-top: 5%;
      padding-bottom: 5%;
      text-align: center;
     /*border-top: 1px solid #353535;*/
    }

    #nombre-titulo {
      padding-bottom: 0px !important;
    }

    h1 {
      color: #FFFFFF;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      padding-bottom: 5%;
    }

    #sobre-mi-container {
      background: -moz-linear-gradient(270deg, rgba(13,11,27,1) 0%, rgba(0,20,58,1) 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(13,11,27,1)), color-stop(100%, rgba(0,20,58,1))); /* safari4+,chrome */
      background: -webkit-linear-gradient(270deg, rgba(13,11,27,1) 0%, rgba(0,20,58,1) 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(270deg, rgba(13,11,27,1) 0%, rgba(0,20,58,1) 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(270deg, rgba(13,11,27,1) 0%, rgba(0,20,58,1) 100%); /* ie10+ */
      background: linear-gradient(180deg, rgba(13,11,27,1) 0%, rgba(0,20,58,1) 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0b1b', endColorstr='#00143a',GradientType=0 ); /* ie6-9 */
    }

    #nombre-titulo {
      font-size: 60px;
      margin-top: 10px;
    }

    .container {
      text-align: center;
    }

    .navbar {
      justify-content: center;
      background: rgba(0, 0, 0, 0.281);
      color: white;
      height: 50px;
      box-shadow: 0px 0px 5px rgb(37, 37, 37);
      max-width: 100%;
    }

    .navbar-nav {
      justify-content: center;
    }

    #navbarNav {
      justify-content: center;
    }

    .nav-item {
      padding: 0px 20px;
      font-size: 20px;
      color: white;
      background: transparent !important;
    }

    .nav-link a {
      background: transparent !important;
    }

    .nav-link {
      transition: all 0.2s ease;
      color: white !important;
      text-align: center;
      background: rgba(0, 0, 0, 0.609);
    }

    .nav-link:hover {
      background-position: center;
      color: red;
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
    }

    .nav ul {
      list-style: none;
    }

    #sobre-mi-fondo {
      display: flex;
      justify-content: center;
      width: 20%;
    }

    .sobre-mi-descripcion {
      max-width: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
    }

    .sobre-mi-descripcion p {
      font-size: medium;
      color: white;
      text-align: center;
    }

    #skills-container {
      background: #00143a;
    }

    #skills-fondo {
      display: flex;
      justify-content: center;
      max-width: 100%;
    }

    .Skills {
      align-items: center;
      text-align: center;
      color: white;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
    }

    .Skills img {
      width: 50% !important;
    }

    .skills ul {
      justify-content: space-around;
    }

    .lista-skills {
      display: flex;
      border: none;
      list-style: none !important;
      padding: inherit;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      text-align: center;
    }

    .lista-skills .imgS {
      background-color: transparent !important;
      border: none !important;
    }

    .skills-m {
      display: none;
    }

    #mockup-container {
      background-color: #00143a;
    }

    }

    .mockup-container {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .mockup-container img {
      padding: 20px;
      width: 30%;
    }

    #vi_titulo {
      margin-top: 50px;
    }

    .Caps-graficas {
      display: flex;
      margin-top: 5%;
    }

    .Proyectos-graficos {
      text-align: center;
    }

    .w3-section {
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }

    .card-deck {
      margin-left: auto;
      margin-right: auto;
    }

    .card {
      margin-left: auto;
      margin-right: auto;
      background: transparent;
      color: white;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 2px black;
      border: none;
    }

    .card-img-top {
      transition: all 0.1s ease-in-out;
      border-radius: 7px;
    }

    .card-img-top:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

    #P-G-container {
      background-color: #00143a;
    }

    #P-V-container {
      background-color: #00143a;
    }

    #proyectos-graficos-container {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }

    .proyectos-graficos {
      max-width: 100%;
    }

    #Proyectos-graficos-fondo {
      margin-top: 15%;
      max-width: 100%;
    }

    #Proyectos-video-fondo {
      max-width: 70%;
    }

    .card-mockup {
      max-width: 70%;
    }

    .mockup-container {
      text-align: center;
    }
    #mockup-container img{
      height: 550px;
    }

    .proyectos-video {
      width: 80%;
      text-align: center;
      margin: 10% 0%;
    }

    .Proyectos-video-img {
      display: flex;
      justify-content: space-around;
      text-align: center;
    }

    .Proyectos-video-img img {
      transition: all 0.2s ease;
    }

    .Proyectos-video-img img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

    .video-img {
      width: 18rem;
    }

    .contacto {
      color: white;
      flex-direction: column;
      text-align: center;
    }

    #Contacto-fondo {
      margin-left: auto;
      margin-right: auto;
      background-color: #00143a;
    }

    #skills-fondo h1 {
      font-size: 100%;
      margin-top: -20px;
    }

    #mockup-pololyte {
      background: #00143a;
    }

    #mockup-vi {
      background: #00143a;
    }

    @media (max-width: 768px) {
      h1 {
        font-size: 30px;
      }
      #nombre-titulo {
        font-size: 30px;
        margin-top: 10%;
      }
      .card-img-top:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
      .card-deck {
        max-width: 100%;
      }
      .sobre-mi-descripcion {
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
      }
      .sobre-mi-descripcion p {
        font-size: small;
        color: white;
        text-align: center;
      }
      #skills-fondo {
        background: transparent;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        max-width: 100%;
      }
      #proyectos-graficos-container {
        width: 100%;
      }
      .proyectos-graficos {
        width: 100%;
      }
      #Proyectos-graficos-fondo {
        width: 100%;
      }
      #Proyectos-video {
        margin-top: 15%;
      }
      #Proyectos-video-fondo {
        max-width: 100%;
        margin-top: 20%;
      }
      .video-img {
        width: 100%;
      }
      .navbar {
        justify-content: center;
        background: black;
        color: white;
        height: 50px;
        box-shadow: 0px 0px 5px rgb(37, 37, 37);
      }
      .nav-link {
        transition: all 0.2s ease;
        color: white !important;
        text-align: center;
        background: black;
      }
      .nav-item {
        padding: 0px 20px;
        font-size: 20px;
        color: white;
        background: black !important;
      }
      #navbarNav {
        background: black;
      }
      .nav-link a {
        background: black !important;
      }
      #sobre-mi-fondo {
        margin-top: 10%;
        display: flex;
        justify-content: center;
        width: 70%;
      }
      #nombre {
        max-width: 70%%;
      }
      .lista-skills {
        display: grid;
        grid-template-columns: 40% 40%;
      }
      .lista-skills li {
        background-color: transparent !important;
        border: none !important;
      }
      .skills-xs {
        display: none;
      }
    }