    body {
      background-image: url("Images/background-body.png");
      font-family: 'Montserrat', sans-serif;
      background-size: contain;
      background-repeat: repeat-y;
    }

    .container {
      text-align: center;
    }

    .navbar {
      justify-content: center;
      background: rgba(0, 0, 0, 0.281);
      color: white;
      height: 50px;
      box-shadow: 0px 0px 5px rgb(37, 37, 37);
      max-width: 100%;
    }

    .navbar-nav {
      justify-content: center;
    }

    #navbarNav {
      justify-content: center;
    }

    .nav-item {
      padding: 0px 20px;
      font-size: 20px;
      color: white;
      background: transparent !important;
    }

    .nav-link a {
      background: transparent !important;
    }

    .nav-link {
      transition: all 0.2s ease;
      color: white !important;
      text-align: center;
      background: rgba(0, 0, 0, 0.609);
    }

    .nav-link:hover {
      background-position: center;
      color: red;
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
    }

    .nav ul {
      list-style: none;
    }

    #nombre {
      margin-top: 15%;
      max-width: 70%;
    }

    #sobre-mi-fondo {
      margin-top: 10%;
      display: flex;
      justify-content: center;
      width: 20%;
    }

    .sobre-mi-descripcion {
      max-width: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
    }

    .sobre-mi-descripcion p {
      font-size: x-large;
      color: white;
      text-align: center;
    }

    #skills-fondo {
      display: flex;
      justify-content: center;
      max-width: 100%;
      margin-top: 10%;
    }

    .Skills {
      align-items: center;
      text-align: center;
      color: white;
      padding: 5% 0%;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
    }

    .Skills img {
      width: 50% !important;
    }

    .skills ul {
      justify-content: space-around;
    }

    .lista-skills {
      display: flex;
      border: none;
      list-style: none !important;
      padding: inherit;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      text-align: center;
    }

    .lista-skills .imgS {
      background-color: transparent !important;
      border: none !important;
    }
    .skills-m {
      display: none;
    }

    .Caps-graficas {
      display: flex;
      margin-top: 5%;
    }

    .Proyectos-graficos {
      text-align: center;
    }

    .w3-section {
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }

    .card-deck {
      margin-left: auto;
      margin-right: auto;
    }

    .card {
      margin-left: auto;
      margin-right: auto;
      background: transparent;
      color: white;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 13px black;
      border: none;
    }

    .card-img-top {
      transition: all 0.1s ease-in-out;
    }

    .card-img-top:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

    #proyectos-graficos-container {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }

    .proyectos-graficos {
      max-width: 100%;
    }

    #Proyectos-graficos-fondo {
      margin-top: 15%;
      max-width: 100%;
    }

    #Proyectos-video-fondo {
      max-width: 70%;
    }

    .Proyectos-graficos {
      margin-top: 15%;
    }

    .proyectos-video {
      width: 80%;
      text-align: center;
      margin: 10% 0%;
    }

    .Proyectos-video-img {
      display: flex;
      justify-content: space-around;
      text-align: center;
    }

    .Proyectos-video-img img {
      transition: all 0.2s ease;
    }

    .Proyectos-video-img img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

    .video-img {
      width: 18rem;
    }

    .contacto {
      color: white;
      flex-direction: column;
      text-align: center;
      padding-top: 18%;
    }

    #Contacto-fondo {
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 5%;
    }

    #skills-fondo h1 {
      font-size: 100%;
      margin-top: -20px;
    }

    @media (max-width: 768px) {
      .card-img-top:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
      .card-deck {
        width: 100%;
      }
      .sobre-mi-descripcion {
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
      }
      .sobre-mi-descripcion p {
        font-size: small;
        color: white;
        text-align: center;
      }
      #skills-fondo {
        background: transparent;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        max-width: 100%;
      }
      #proyectos-graficos-container {
        width: 100%;
      }
      .proyectos-graficos {
        width: 100%;
      }
      .Proyectos-graficos {
        margin-top: 20%;
      }
      #Proyectos-graficos-fondo {
        width: 100%;
        margin-top: 15%;
      }
      #Proyectos-video {
        margin-top: 15%;
      }
      #Proyectos-video-fondo {
        max-width: 100%;
        margin-top: 20%;
      }
      .video-img {
        width: 100%;
      }
      .navbar {
        justify-content: center;
        background: black;
        color: white;
        height: 50px;
        box-shadow: 0px 0px 5px rgb(37, 37, 37);
      }
      .nav-link {
        transition: all 0.2s ease;
        color: white !important;
        text-align: center;
        background: black;
      }
      .nav-item {
        padding: 0px 20px;
        font-size: 20px;
        color: white;
        background: black !important;
      }
      #navbarNav {
        background: black;
      }
      .nav-link a {
        background: black !important;
      }
      #sobre-mi-fondo {
        margin-top: 10%;
        display: flex;
        justify-content: center;
        width: 70%;
      }
      #nombre {
        margin-top: 15%;
        max-width: 100%;
      }
      .lista-skills {
        display: grid;
        grid-template-columns: 40% 40%;
      }
      .lista-skills li {
        background-color: transparent !important;
        border: none !important;
      }
      .skills-xs{
        display: none;
      }
    }